<%- include('./partials/back-button') %>

<%- include('./partials/page-header', { title: 'Chat history', subtitle:
`Demo of a chat history using Gemini AI.` }) %>

<div class="chat-container">
    <div class="chat-header">
        <h2>Chat History</h2>
    </div>
</div>
